---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Publications from '../components/Publications.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

const entry = await getEntry("about-me", "bio");
const { data : bio } = entry;
const { Content } = await entry.render();

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-xl mx-auto px-10 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-100">
    <Header />
    <main class="flex flex-col justify-center">
      <div class="row flex items-center">
        <div class="column">
          <Image src={images[bio.image]()} alt="" width="200" height="200" loading=eager />
        </div>
        <div class="column px-4 flex flex-col gap-4">
          <h1 class="flex text-lg font-semibold md:text-2xl">{`${bio.name.name}`} 
            {bio.name.url && <a href={bio.name.url} class="text-xs" style="text-decoration : none">?</a>} </h1>
          <p class="flex text-base md:text-lg">
            {bio.summary}
          </p>
        </div>
      </div>
      <div class="my-2 mt-4">
        <Content />
      </div>
    
      <Publications />
	  </main>
    <Footer entry={entry} />
  </body>
</html>